{% extends 'admin/slidebar.html.twig' %}
{% block title 'Gérer les spécifications ' %}

{% block admin %}
    <div class="container mt-4">
        <h1>Gérer les spécifications</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for spec in specs %}
                <tr>
                    <td>{{ spec.name }}</td>
                    <td>
                        <a href="{{ path('admin.spec_edit', {id: spec.id}) }}" class="btn btn-secondary">Éditer</a>
                        <form method="post" action="{{ path('admin.spec_delete', {id: spec.id}) }}"
                              style="display: inline-block" onsubmit="return confirm('Voulez-vous supprimer cette spécification ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ spec.id ) }}">
                            <button class="button btn btn-danger">Supprimer </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.spec_new') }}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>
    </div>
{% endblock %}